In [8]:
import pandas as pd

In [9]:
data = {
    "Date": [
        "2020-12-06", "2021-01-15", "2021-01-06", "2021-01-02", "2020-12-24",
        "2020-12-08", "2020-12-03", "2021-01-10", "2021-01-11", "2021-01-12",
        "2020-12-17", "2020-12-25", "2020-12-25", "2020-12-30", "2020-12-06",
        "2021-01-14", "2021-02-07", "2021-02-10", "2021-02-01", "2021-02-01"
    ],
    "account_id": [
        "A1", "A1", "A1", "A1", "A1", "A1", "A1", "A2", "A2", "A2",
        "A2", "A3", "A3", "A3", "A3", "A3", "A1", "A1", "A2", "A2"
    ],
    "User_id": [
        "U1", "U2", "U3", "U1", "U2", "U1", "U2", "U4", "U4", "U4",
        "U5", "U6", "U6", "U7", "U6", "U8", "U1", "U2", "U4", "U5"
    ]
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

df

         Date account_id User_id
0  2020-12-06         A1      U1
1  2021-01-15         A1      U2
2  2021-01-06         A1      U3
3  2021-01-02         A1      U1
4  2020-12-24         A1      U2
5  2020-12-08         A1      U1
6  2020-12-03         A1      U2
7  2021-01-10         A2      U4
8  2021-01-11         A2      U4
9  2021-01-12         A2      U4
10 2020-12-17         A2      U5
11 2020-12-25         A3      U6
12 2020-12-25         A3      U6
13 2020-12-30         A3      U7
14 2020-12-06         A3      U6
15 2021-01-14         A3      U8
16 2021-02-07         A1      U1
17 2021-02-10         A1      U2
18 2021-02-01         A2      U4
19 2021-02-01         A2      U5

In [ ]:
from datetime import timedelta

# Lista para armazenar usuários com três dias consecutivos de atividade
users_with_three_consecutive_days = []

# Agrupar o DataFrame por 'User_id'
grouped = df.groupby('User_id')

# Iterar pelos grupos
for user, group in grouped:
    # Ordenar as datas para cada usuário
    dates = group['Date'].sort_values().tolist()
    
    # Verificar se há três dias consecutivos
    for i in range(len(dates) - 2):
        if dates[i + 1] == dates[i] + timedelta(days=1) and dates[i + 2] == dates[i] + timedelta(days=2):
            users_with_three_consecutive_days.append(user)
            break

# Exibir os usuários encontrados
users_with_three_consecutive_days

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001DCBA135940>

['U4']