In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'], 'B': ['B3', 'B4', 'B5']})

display(df1)
display(df2)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

    A   B
0  A3  B3
1  A4  B4
2  A5  B5

# Concat

A função 'concat' é usada para concatenar Dataframes ao longo de um eixo (linha ou coluna)

In [6]:
# Ao longo das linhas
result = pd.concat([df1, df2], axis=0)
result

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [7]:
# Ao longo das colunas
result = pd.concat([df1, df2], axis=1)
result

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

# Join
A função 'join' é usada para combinar Dataframes com base no índice. É útil para combinar Dataframes que compartilham um índice em comum.

- how: Tipo de junção a ser realizada (left, right, outer, inner)
- on: Coluna ou índice para juntar

In [8]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2']}, index=['K0', 'K1', 'K2'])
df2 = pd.DataFrame({'B': ['B0', 'B1', 'B2']}, index=['K0', 'K2', 'K3'])

display(df1)
display(df2)

     A
K0  A0
K1  A1
K2  A2

     B
K0  B0
K2  B1
K3  B2

In [14]:
result = df1.join(df2, how='outer')

result

      A    B
K0   A0   B0
K1   A1  NaN
K2   A2   B1
K3  NaN   B2

# Merge
A função 'merge' é usada para combinar Dataframes com base em uma ou mais colunas. É similar ao SQL JOIN.

- on: coluna ou colunas para juntar
- how: tipo de junção a ser realizada (left, right, outer, inner)
- left_on e right_on: colunas para juntar no Dataframe da esquerda e da direita, respectivamernte.

In [15]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'A': ['A0', 'A1', 'A2']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K3'], 'B': ['B0', 'B1', 'B3']})

display(df1)
display(df2)

  key   A
0  K0  A0
1  K1  A1
2  K2  A2

  key   B
0  K0  B0
1  K1  B1
2  K3  B3

In [16]:
result = pd.merge(df1, df2, on='key', how='inner')

result

  key   A   B
0  K0  A0  B0
1  K1  A1  B1